= link_to papers_path, :class => "list-group-item list-group-item-action border-0 text-left sidebar-text-font px-0" do
  = fa_icon "codepen", text: "考试试卷"
- if current_user.has_role?(Setting.roles.role_fct)
  = render 'layouts/system_sidebar/fct_sidebar'
- elsif current_user.has_role?(Setting.roles.role_grp)
  = render 'layouts/system_sidebar/grp_sidebar'
- elsif current_user.has_role?(Setting.roles.super_admin)
  = render 'layouts/system_sidebar/admin_sidebar'
